* {
  padding: 0;
  margin: 0;
  color: #ffffffff;
}

html {
  font-family: 'Amiko', sans-serif;
  background: linear-gradient(90deg, #ccd8f0 28%, #8b95c9 84%);
}

.weather__inner {
  max-width: 900px;
  margin: 0 auto;
  padding: 1em;
}

.current {
  text-align: center;
  margin-bottom: 2em;
}

.current__city {
  font-weight: 300;
  font-size: 2em;
}

.current__time {
  font-weight: 200;
  font-size: 1em;
}

.current__icon {
  margin-top: -20px;
  margin-bottom: -20px;
}

.current__desc {
  font-weight: 400;
  font-size: 1.3em;
  margin-top: -10px;
}

.current__temp {
  font-weight: 400;
  font-size: 2.6em;
}

.forecast {
  border: 1px solid;
  box-shadow: inset 0px -201px 98px rgba(255, 255, 255, 0.13);
  border-radius: 40px;
  background: linear-gradient(90deg, #ccd8f0 28%, #8b95c9 84%);
  display: flex;
  justify-content: space-between;
  padding: 1em;
  margin-bottom: 2em;
}

.forecast__item {
  text-align: center;
}

.forecast__temp, .forecast__icon {
  margin-bottom: 0.5em;
}

.forecast__temp {
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
  font-size: 2em;
}

.forecast__time {
  font-weight: 300;
  font-size: .8em;
}

.forecast__icon {
  width: 40px;
  height: 40px;
}

.details__row {
  display: flex;
  justify-content: space-between;
  margin-bottom: 1em;
}

.details__item {
  flex: 1;
}

.details__name {
  margin-bottom: 1em;
}

.details__value {
  font-size: 1.5em;
}

.weather {
  width: 100%;
  min-height: 100vh;
}

.forecast__icon {
  background-size: 40px;
  background-repeat: no-repeat;
}
